.header {
    height: 750px;
    background-image: image-set(
        url('../../images/backgrounds/header-bg.jpeg') 1x,
        url('../../images/backgrounds/header-bg@2x.jpeg') 2x
    );
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
}



.header-nav {
    display: flex;
    gap: 50px;
    align-items: center;

    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
}

.header-nav a{
    transition: color 0.15s ease-in;
}

.header-nav a:hover{
    color: var(--accent-color)
}

.header-img {
    padding-top: 125px;
    text-align: right;
}

@media (max-width: 900px) {
    .header-logo{
        display: none;
    }

    .header-row {
        justify-content: center;
    }
    
    .header-img {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .header {
        height: auto;
    }

    .header-logo{
        display: block;
        transform: scale(1.2);
    }

    .header-img {
        display: none;
    }

    .header-row {
        flex-direction: column;
        row-gap: 20px;

        padding-top: 60px;
        padding-bottom: 35px;
    }

    .header-nav {
        flex-direction: column;
        row-gap: 20px;
        font-size: 18px;
    }
}